
<%- include("header") -%>
<h2>This is the about page</p>
    <p>
    Impedit laudantium assumenda voluptatem nostrum fugit veritatis blanditiis neque tenetur quos corporis beatae natus eligendi sint perspiciatis odio, veniam mollitia commodi totam aliquam ratione eos. Error pariatur quos dolores placeat.
    Facilis voluptates ullam velit animi numquam beatae? Fuga necessitatibus tempora recusandae, nesciunt id iste reprehenderit quibusdam minima eligendi nobis fugit magnam. Nemo magni quis illo consectetur maiores eveniet aliquam non!</p>
    <%- include("footer") -%>